
/* COMMON CLASSES */

.my-bg-blue {
    background-color: #3b546c;
}

.my-bg-dark-blue {
    background-color: #2d3f50;
}

.my-bg-green {
    background-color: #1abc9c;
}

.box{
    height: 250px;
    border: 1px solid red;
    margin-bottom: 30px;
}

/* TAG SELECTORS */

header {
    height: 80px;
}

/* JUMBOTRON */

section.jumbotron {
    height: 300px;
    text-align: center;
}

/* PORTFOLIO */

section.portfolio{
    text-align: center;
}

/* ABOUT */

section.about{
    text-align: center;
    height: 350px;
}

/* CONTACT */

section.contact h2{
    text-align: center;
}

/* FOOTER */

div.footer-top{
    height: 160px;
}

div.footer-bottom{
    height: 80px;
}