
/* COMMON CLASSES */

.my-bg-blue {
    background-color: #3b546c;
}

.my-bg-dark-blue {
    background-color: #2d3f50;
}

.my-bg-green {
    background-color: #1abc9c;
}

.my-graphic-divider{
    width: 240px;
}

.my-bar-divider{
    width: 42%;
    height: 5px;
    border-radius: 5px;
    background-color: white;
}

.box{
    height: 250px;
    border: 1px solid red;
    margin-bottom: 30px;
}

/* TAG SELECTORS */


/* JUMBOTRON */

section#jumbotron img{
    width: 230px;
    
}

section#jumbotron .my-list-nav{
    list-style-type: none;
}

li.dash-list-type:before{ 
    content:"- ";
}
li.dash-list-type:after{ 
    content:" -";
}

/* PORTFOLIO */

section#portfolio{
    text-align: center;
}

/* ABOUT */

section#about{
    text-align: center;
    height: 350px;
}

/* CONTACT */

section#contact h2{
    text-align: center;
}

/* FOOTER */

div.footer-top{
    height: 160px;
}

div.footer-bottom{
    height: 80px;
}