/* COMMON CLASSES */

.my-bg-blue {
    background-color: #3b546c;
}

.my-bg-dark-blue {
    background-color: #2d3f50;
}

.my-bg-green {
    background-color: #1abc9c;
}

.my-color-green {
    color: #1abc9c;
    ;
}

.my-graphic-divider {
    width: 150px;
}

.my-bar-divider {
    width: 42%;
    height: 2px;
    border-radius: 2px;
}

/* JUMBOTRON */

section#jumbotron img {
    width: 230px;
}

section#jumbotron .my-list-nav {
    list-style-type: none;
}

li.dash-list-type:before {
    content: "- ";
}

li.dash-list-type:after {
    content: " -";
}

/* FOOTER */

div.social .social-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 1.5rem;
    border: 1px solid white;
    border-radius: 50%;
}